huggingface-hub==0.20.3
pillow>=10.1.0
pyyaml>=6.0.1
requests>=2.31.0
ipykernel>=6.26.0
ipython>=8.18.1
jupyter_client>=8.6.0
streamlit
unstructured
typing
faiss-gpu
faiss
tqdm
langchain
langchain_community
sentence_transformers
pdfminer.six